a,
a:visited,
.related-posts li a:hover {
	color: #26b;
}
a:hover { 
	color: #48d; 
}
.widget_tag_cloud a:hover { background-color: #26b; }

.entry-title a:link,
.entry-title a:visited {
	color: #333;
}
.entry-title a:hover { 
	color: #26b; 
}
#slider .entry-title a {
	color: #fff;
}
#slider .entry-title a:hover {
	color: #ccc;
}
.slides_container .entry-meta a,
.slides_container .entry-meta a:visited {
	color: #999;
}
.slides_container .entry-meta a:hover {
	color: #fff;
}
/* CSS3 Effects */
body>nav,
a.read-more,
a.read-more:visited {
	background: #444;
	background: -moz-linear-gradient(top, #555, #333);
	background: -webkit-gradient(linear,left top,left bottom,from(#555),to(#333));
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#555555,endColorStr=#333333);
}
#secondary-nav .nav li a:hover {
	background: #666;
	background: -moz-linear-gradient(top, #777, #555);
	background: -webkit-gradient(linear,left top,left bottom,from(#777),to(#555));
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#777777,endColorStr=#555555);
}
a.read-more:hover {
	background: #555;
	background: -moz-linear-gradient(top, #666, #444);
	background: -webkit-gradient(linear,left top,left bottom,from(#666),to(#444));
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#666666,endColorStr=#444444);
}
footer {
	background: #343434;
	background: -moz-linear-gradient(top, #444, #333);
	background: -webkit-gradient(linear,left top,left bottom,from(#444),to(#333));
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#444444,endColorStr=#333333);
}
