
input[type=submit] {
   background-image: url(images/shortcodes/buttons/button_white.png);
    background: #1271ff;
border: 1px solid #ffffff;
color: #ffffff !important;
text-shadow: 0 1px 0 rgba(100,100,100, 0.5);
}
input[type=submit]:hover {
display: inline-block;
font-weight: 200;
background: #1271ff;

}
